body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

header {
  color: #fff;
  background-color: #103D5D;
  padding: 33px 0 25px 15px;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

header h1 {
  text-shadow: 0 0 3px #FA6900, 0 0 5px #103D5D;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  
}

header h3 {
  text-shadow: 0 0 3px #FA6900, 0 0 5px #103D5D;
  margin-top: 10px;
  margin-left: 5px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);  
}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper {
  max-width: 100%;
  height: 100px;
  margin: 10px auto;
}

.add-item {
  border-radius: 10px;
  border-top: 5px solid #103D5D;
  border-bottom: 5px solid #103D5D;
  border-left: 5px solid #103D5D;
  border-right: 5px solid #103D5D;
  margin-left: 72%;
  margin-top: -140px;
  background-color: rgb(237, 237, 237);
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 20%;  
  width: 50%;
  height: 430px;
  margin-right: auto;
}

.display-item {
  width: 65%;
  margin-left: 50px;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-item form {
  margin-top: -50px;
  width: 100%;
  overflow: hidden;
}

.itemlabel {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
}

.submitbutton {
  margin-top: 20px;
}

input {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 100%;  
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  width: calc(50% - 50px);
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 30px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}

h2 {
  padding: 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: #103D5D;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

button {
  border-radius: 2px;
  width: 200px;
  background-color: #FA6900;
  cursor: pointer;
  border: 40px;
  border-color: 'black';
  height: 60px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 15px 40px;
}

.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

/* .Title {
  font-size: 40px;
  font-weight: bold;
  border: 20px;
  text-align: center;
} */

/* .subTitle {
  font-size: 25px;
  font-weight: bold;
  border: 20px;
  text-align: center;
} */

.tabs-background {
  color: #103D5D;
  font-weight: bold;
}

div {
  width: 100%;
}

h1 {
  font-size: 40px;
  text-align: center;
}

p {
  text-align: center;
}

.tabs {
  margin-top: 25px;
  margin-left: 5px;
  border-radius: 10px;
}

.tab1 {
  margin-left: 27%;
  text-align: center;
  width: 300px;
  border-radius: 10px;
  border-top: 2px solid #103D5D;
  border-bottom: 2px solid #103D5D;
  border-left: 2px solid #103D5D;
  border-right: 2px solid #103D5D;
}

.tab2 {
  text-align: center;
  width: 300px;
  border-radius: 10px;
  border-top: 2px solid #103D5D;
  border-bottom: 2px solid #103D5D;
  border-left: 2px solid #103D5D;
  border-right: 2px solid #103D5D;
}

.remove {
  align-self: center;
  margin-right: 35px;
}

.dropdown {
  margin-top: 10px;
}


input.error {
  border: 1px solid #EADAE4;
}

.error {
  color:#db2269;
  font-size: 0.5em;
  display: relative;
}

.fullName,
.currentItem,
.location
.kind {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.fullName {
  width: 100%;
}

.item,
.location,
.kind {
  width: 100%;
}

.p {
  color:#fff;
}

